# Core ML and Torch
torch==2.7.1
torchvision==0.22.1
einops==0.8.1
future==1.0.0
numpy==2.3.0
scipy==1.15.3
scikit-image==0.25.2
lmdb==1.6.2
yacs==0.1.8

# ONNX & Inference
onnx==1.18.0
onnxruntime==1.22.0
onnxruntime-tools==1.7.0
flatbuffers==25.2.10
protobuf==6.31.1

# Computer Vision & Imaging
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
imageio==2.37.0
Pillow==11.2.1
tifffile==2025.6.11

# Utilities
tqdm==4.67.1
pyyaml==6.0.2
addict==2.4.0
absl-py==2.3.0
coloredlogs==15.0.1
humanfriendly==10.0
py-cpuinfo==9.0.0

# Visualization & Logging
tensorboard-data-server==0.7.2
tb-nightly==2.20.0a20250615

# General Python Packages
requests==2.32.4
Jinja2==3.1.6
MarkupSafe==3.0.2
setuptools==80.9.0
packaging==25.0
typing_extensions==4.12.2
six==1.17.0
python-dateutil==2.9.0.post0
pyparsing==3.2.3

# Optional (if webcam/virtual cam or browser used)
pyvirtualcam==0.13.0
selenium==4.29.0

# Formatter (if needed)
yapf==0.43.0

# code line to run in vscode to install the requirements is - pip install torch==2.7.1 torchvision==0.22.1 einops==0.8.1 future==1.0.0 numpy==2.3.0 scipy==1.15.3 scikit-image==0.25.2 lmdb==1.6.2 yacs==0.1.8 onnx==1.18.0 onnxruntime==1.22.0 onnxruntime-tools==1.7.0 flatbuffers==25.2.10 protobuf==6.31.1 opencv-python==4.11.0.86 opencv-python-headless==4.11.0.86 imageio==2.37.0 Pillow==11.2.1 tifffile==2025.6.11 tqdm==4.67.1 pyyaml==6.0.2 addict==2.4.0 absl-py==2.3.0 coloredlogs==15.0.1 humanfriendly==10.0 py-cpuinfo==9.0.0 tensorboard-data-server==0.7.2 tb-nightly==2.20.0a20250615 requests==2.32.4 Jinja2==3.1.6 MarkupSafe==3.0.2 setuptools==80.9.0 packaging==25.0 typing_extensions==4.12.2 six==1.17.0 python-dateutil==2.9.0.post0 pyparsing==3.2.3 pyvirtualcam==0.13.0 selenium==4.29.0 yapf==0.43.0



